@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center">Acessar Sistema</h2>

@if (ViewBag.Erro != null)
{
    <div class="alert alert-danger">@ViewBag.Erro</div>
}

<form asp-action="Login" method="post" class="w-50 mx-auto mt-4">
    <div class="form-group mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="form-group mb-3">
        <label>Senha</label>
        <input type="password" name="senha" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary w-100">Entrar</button>
</form>
