@{
    ViewBag.Title = "Contratar Plano Zeta";
}

<div style="max-width:700px;margin:0 auto;padding:40px;color:white;font-family:'Segoe UI';">
    <h2 style="text-align:center;margin-bottom:20px;">Escolha a Forma de Pagamento</h2>

    <form asp-action="ConfirmarPagamento" method="post">

        <div style="margin:20px 0;">
            <label style="font-size:18px;">Forma de pagamento:</label>

            <select name="formaPagamento" required 
                    style="padding:10px;border-radius:8px;width:100%;font-size:16px;">
                <option value="">Selecione...</option>
                <option value="Pix">Pix</option>
                <option value="Debito">Débito</option>
                <option value="Credito">Crédito</option>
                <option value="Outro">Outro</option>
            </select>
        </div>

        <button <a class="nav-link text-white" asp-controller="PlanoZeta" asp-action="ZetaJogos"
           style="padding:15px 35px;background:#00c853;color:white;border-radius:10px;
                  font-size:22px;text-decoration:none;font-weight:bold;transition:0.2s;"> Confirmar Pagamento
            
        </a>
       
        </button>

    </form>
</div>
