@model MeuProjetoMVC.Models.ZetaJogos

@{
    ViewData["Title"] = "Jogando " + Model.nomeJogo;
}

<a asp-action="ZetaJogos" asp-controller="PlanoZeta">Voltar</a>


<h2>@Model.nomeJogo</h2>
<p>Categoria Indicativa: @Model.classificacaoEtaria+</p>

<div style="position:relative; width:100%; padding-top:56.25%;">
    <!-- 16:9 -->
    <iframe src="~/@Model.caminhoJogo"
            style="position:absolute; top:0; left:0; width:100%; height:100%; border:none;"
            allowfullscreen>
    </iframe>
</div>
