@model MeuProjetoMVC.Models.ZetaJogos

<div class="container mt-4">
    <h2>Cadastrar Jogo</h2>
    <form asp-action="Criar" method="post" enctype="multipart/form-data" class="mt-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="nomeJogo" class="form-label"></label>
            <input asp-for="nomeJogo" class="form-control" required maxlength="100" />
            <span asp-validation-for="nomeJogo" class="text-danger"></span>
        </div>

          <div class="form-group">
        <label>Classificação</label>
        <select asp-for="classificacaoEtaria" class="form-control">
            <option value="L">Livre</option>
            <option value="10">10+</option>
            <option value="12">12+</option>
            <option value="14">14+</option>
            <option value="16">16+</option>
            <option value="18">18+</option>
        </select>
    </div>

        <div class="mb-3">
            <label asp-for="categoria" class="form-label">Categoria</label>
            <select asp-for="categoria" asp-items="ViewBag.Categorias" class="form-select"></select>
            <span asp-validation-for="categoria" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Imagem de Capa</label>
            <input type="file" name="imagemCapa" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
<div/>