@model MeuProjetoMVC.Models.ZetaJogos

<h2>Editar Jogo</h2>

<form asp-action="Editar" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="codZetaJ" />

    <div class="form-group">
        <label>Nome do Jogo</label>
        <input asp-for="nomeJogo" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Categoria</label>
        <select asp-for="categoria" class="form-control">
            @foreach (var cat in ViewBag.Categorias)
            {
                <option value="@cat.codCat" selected="@(cat.codCat == Model.categoria)">
                    @cat.nomeCat
                </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Classificação</label>
        <select asp-for="classificacaoEtaria" class="form-control">
            <option value="L">Livre</option>
            <option value="10">10+</option>
            <option value="12">12+</option>
            <option value="14">14+</option>
            <option value="16">16+</option>
            <option value="18">18+</option>
        </select>
    </div>

    <div class="form-group">
        <label>Capa Atual</label><br />
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Capa)" width="150" />
    </div>

    <div class="form-group">
        <label>Nova Capa (opcional)</label>
        <input type="file" name="capa" class="form-control" accept="image/*" />
    </div>

    <button class="btn btn-success mt-3">Salvar Alterações</button>

</form>
