@model MeuProjetoMVC.Models.Sub_Categoria
@{
    ViewData["Title"] = "Editar Subcategoria";
    int codCat = ViewBag.CodCat;
}

<h2>Editar Subcategoria</h2>

<form asp-action="Editar" method="post">

    <input type="hidden" asp-for="codSub" />
    <input type="hidden" asp-for="codCat" />

    <div class="form-group">
        <label>Nome da Subcategoria</label>
        <input asp-for="nomeSubcategoria" class="form-control" />
    </div>

    <br />

    <div class="form-group">
        <label>Categoria</label>
        <select asp-for="codCat"
                asp-items="ViewBag.Categorias"
                class="form-control">
        </select>
    </div>

    <br />

    <button class="btn btn-primary">Salvar alterações</button>

    <a class="btn btn-secondary"
       asp-action="Index"
       asp-route-codCat="@codCat">
        Voltar
    </a>

</form>
