@using MeuProjetoMVC.Models
@{
    ViewData["Title"] = "Dados para Entrega";

    string codVenda = Context.Request.Query["codVenda"].ToString();
    string retirada = Context.Request.Query["retirada"].ToString();

    var entrega = ViewBag.Endereco as EnderecoEntrega;
}

<h2>Dados de Entrega</h2>

<input type="hidden" id="codVenda" value="@codVenda" />
<input type="hidden" id="tipoRetirada" value="@retirada" />

@if (retirada == "Local")
{
    <div class="alert alert-info">
        <p>Compra realizada com sucesso, basta ir a loja designinada para receber a compra</p>
        <div>
            <ul>
                <li>Local: <p>KingdomGames</p></li>
                <li>Cep: <p>05089-000</p></li>
                <li>Estado: <p>São Paulo</p></li>
                <li>Cidade: <p>São Paulo</p></li>
                <li>Bairro: <p>Vila Leopoldina</p></li>
                <li>Logradouro: <p>Rua Guaipá</p></li>
                <li>Número: <p>678</p></li>
            </ul>
        </div>

        <a href="/Home/Index" class="btn btn-primary">Voltar a página principal</a>

    </div>



}
else
{
    <h4>Endereço de Entrega</h4>

    <div class="row">
        <div class="col-md-3">
            <label>CEP</label>
            <input id="cep" class="form-control" value="@entrega?.Cep" disabled/>
        </div>

        <div class="col-md-5">
            <label>Logradouro</label>
            <input id="logradouro" class="form-control" value="@entrega?.Logradouro" disabled/>
        </div>

        <div class="col-md-4">
            <label>Bairro</label>
            <input id="bairro" class="form-control" value="@entrega?.Bairro" disabled/>
        </div>

        <div class="col-md-4 mt-2">
            <label>Cidade</label>
            <input id="cidade" class="form-control" value="@entrega?.Cidade" disabled/>
        </div>

        <div class="col-md-2 mt-2">
            <label>Estado</label>
            <input id="estado" class="form-control" value="@entrega?.Estado" disabled/>
        </div>

        <div class="col-md-2 mt-2">
            <label>Número</label>
            <input id="numero" class="form-control" />
        </div>

        <div class="col-md-4 mt-2">
            <label>Complemento</label>
            <input id="complemento" class="form-control" />
        </div>

        <div class="col-md-4 mt-3">
            <label>Tipo Endereço</label>
            <select id="tipoEndereco" class="form-control">
                <option value="">Selecione</option>
                <option value="Casa">Casa</option>
                <option value="Apartamento">Apartamento</option>
            </select>
        </div>
    </div>

    <div id="ap" class="row" style="display:none;">
        <div class="col-md-2 mt-3">
            <label>Andar</label>
            <input id="andar" class="form-control" />
        </div>

        <div class="col-md-4 mt-3">
            <label>Nome do Prédio</label>
            <input id="nomePredio" class="form-control" />
        </div>
    </div>

    <button class="btn btn-primary mt-3" onclick="salvarDadosEntrega()">Salvar Endereço</button>
}

<hr />


<div class="row" id="destino" style="display:none;">

    <h4>Destinatário</h4>
    <br/>
    <div class="col-md-5">
        <label>Nome Completo</label>
        <input id="nomeDestinatario" class="form-control" />
    </div>

    <div class="col-md-5">
        <label>Email</label>
        <input id="emailDestinatario" class="form-control" />
    </div>

    <button class="btn btn-success mt-3" onclick="salvarDestinatario()">Confirmar Destinatário</button>
</div>



<hr />

<div id="confirmacao" style="display:none;">
    <p>Seu pedido estará sendo encaminhado!</p>
    <a href="/Home/Index" class="btn btn-primary">Confirmar entrega</a>
</div>

<a href="/Venda" class="btn btn-secondary mt-3">Voltar</a>

<script>

    if(document.getElementById("tipoRetirada").value == "Local")
    {
        document.getElementById("destino").style.display= "none";
    }


    document.getElementById("tipoEndereco").addEventListener("change", function () {
        const ap = document.getElementById("ap");
        ap.style.display = this.value === "Apartamento" ? "block" : "none";
    });

    async function salvarDadosEntrega() {

        const tipo = document.getElementById("tipoRetirada").value;

        if (tipo === "Local") {
            alert("Retirada no local não precisa de endereço.");
            return;
        }

        const dto = {
            endereco: {
                cep: document.getElementById("cep").value,
                logradouro: document.getElementById("logradouro").value,
                bairro: document.getElementById("bairro").value,
                cidade: document.getElementById("cidade").value,
                estado: document.getElementById("estado").value
            },
            entrega: {
                codVenda: document.getElementById("codVenda").value,
                numero: document.getElementById("numero").value,
                complemento: document.getElementById("complemento").value,
                tipoEndereco: document.getElementById("tipoEndereco").value,
                andar: document.getElementById("andar").value,
                nomePredio: document.getElementById("nomePredio").value
            }
        };

        const response = await fetch("/Entrega/DadosCliente", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(dto)
        });

        const json = await response.json();

        if (json.sucesso) {
            alert("Endereço salvo com sucesso!");
            document.getElementById("destino").style.display = "block";
        } else {
            alert("Erro: " + json.mensagem);
        }
    }


    async function salvarDestinatario() {

        const req = {
            codVenda: document.getElementById("codVenda").value,
            nomeDestinatario: document.getElementById("nomeDestinatario").value,
            emailDestinatario: document.getElementById("emailDestinatario").value
        };

        const response = await fetch("/Entrega/Destinatario", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(req)
        });

        const json = await response.json();

        if (json.sucesso) {
            alert("Destinatário salvo!");
            document.getElementById("confirmacao").style.display = "block";
        } else {
            alert("Erro ao salvar: " + json.mensagem);
        }
    }

</script>