@{
    ViewData["Title"] = "Mídias do Produto";
    var produto = ViewBag.Produto;
    int codProd = ViewBag.codProd;
}

<h2 class="mb-3">Mídias do Produto: @produto?.nomeProduto</h2>
<a class="btn btn-success mb-3" href="/ProdutoMidia/Cadastrar?codProd=@codProd">Cadastrar Nova Mídia</a>
<a class="btn btn-sucess mb-3" href="~/Produto/Detalhes?codProd=@codProd">Voltar</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Tipo</th>
            <th>Preview</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.codMidia</td>
                <td>@item.tipoMidia</td>
                <td>
                    <a class="btn btn-info btn-sm"
                       href="/ProdutoMidia/Detalhes?codMidia=@item.codMidia">
                        Ver Mídia
                    </a>
                </td>

                <td>
                                                       @*Está passando por rota os campos para o editar*@
                    <a class="btn btn-primary btn-sm" href="/ProdutoMidia/Editar?codMidia=@item.codMidia&codProd=@item.codProd">Editar</a>

                    <form method="post" action="/ProdutoMidia/Excluir"
                          style="display:inline-block;"
                          onsubmit="return confirm('Tem certeza que deseja excluir?');">
                        <input type="hidden" name="codMidia" value="@item.codMidia" />
                        <input type="hidden" name="codProd" value="@item.codProd" />
                        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
