@model MeuProjetoMVC.Models.Categoria
@{
    ViewData["Title"] = "Criar Categoria";
}
<link href="~/css/form.css" rel="stylesheet" />
<h2>Criar Categoria</h2>

<form asp-action="Criar" method="post" class="w-50">
    <div class="form-group">
        <label asp-for="NomeCategoria" class="form-label"></label>
        <input asp-for="NomeCategoria" class="form-control" />
        <span asp-validation-for="NomeCategoria"
              class="text-danger"></span>
    </div>
    <div id="dBtn">
        <button type="submit" class="btn btn-success">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>

</form>
