@model MeuProjetoMVC.Models.Categoria
@{
    ViewData["Title"] = "Editar Categoria";
}

<h2>Editar Categoria</h2>

<form asp-action="Editar" method="post" class="w-50">
    <input type="hidden" asp-for="CodCat" />
    <div class="form-group mb-3">
        <label asp-for="NomeCategoria" class="form-label"></label>
        <input asp-for="NomeCategoria" class="form-control" />
        <span asp-validation-for="NomeCategoria" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>
