@model IEnumerable<MeuProjetoMVC.Models.Categoria>
@{
    ViewData["Title"] = "Categorias";
}
<link href="~/css/lista.css" rel="stylesheet" />

<h2>Categorias</h2>
@if (Model != null && Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome da Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Categoria item in Model)
            {
                <tr>
                    <td>@item.CodCat</td>
                    <td>@item.NomeCategoria</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@item.CodCat">Editar</a>
                        <a class="btn btn-danger btn-sm" asp-action="Excluir" asp-route-id="@item.CodCat">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhuma categoria encontrada.</p>
}
<div style="display: flex; justify-content: center; margin-top: 10px;">
    <a class="btn btn-primary" asp-action="Criar">Nova Categoria</a>
</div>