@model List<Sub_Categoria>

@{
    ViewData["Title"] = "Selecionar Subcategorias";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Salvar" method="post">

    <input type="hidden" name="listaSelecionadas" id="hiddenLista" />

    <label>Código do Produto:</label>
    <input type="number" name="codProd" />

    <h4>Subcategorias Disponíveis:</h4>

    @foreach (var item in Model)
    {
        <div>
            <input type="checkbox" class="subCheck" value="@item.codSub" />
            @item.nomeSubcategoria
        </div>
    }

    <br />

    <button type="submit">Salvar</button>
</form>

<script>
    //Selecione o elemento dentro do form e realize a função ao ser enviado
    document.querySelector("form").addEventListener("submit", function () {
        let valores = []; //Declara uma lista de valores

        //Selecione no documento os elementos com a class .subCheck que estiver :checked(checada) para cada um (adicione na variavel cb os valores que estão na lista, convertendo os para int)
        document.querySelectorAll(".subCheck:checked").forEach(cb => {
            valores.push(parseInt(cb.value));
        });
        //Pega o elemento pelo id hiddenLista.value e recebe o valor convertido em json e vai ser enviado para a controller
        document.getElementById("hiddenLista").value = JSON.stringify(valores);
    });
</script>