form {
    width: 40%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(128, 0, 128, 0.5);
    border-radius: 15px;
}

    form div select * {
        color: black;
    }

section div {
    display: flex;
    justify-content: space-between;
}

    section div input, section div select {
        border-radius: 30px;
        color: black;
    }

        section div select * {
            color: black;
        }

    section div label {
        color: white;
        margin-right: 30px;
    }